:root {
    --main-bg-color-1: #f5f6fa;
    --main-bg-color-2: #f5f6fa;

    --main-sidebar-color-1: #e7263f;
    --main-sidebar-color-2: #e7263f;

    --main-text-color: #fff;

    --main-color-logo: #e7263f;

    --main-color-card: #fff;
}
